// notice

$danger-border: #ebccd1;
$danger-background: #f2dede;
$danger-text: #a94442;

$notice-border: #c3e6cb;
$notice-background:#d4edda;
$notice-text: #155724;

//button

$button-border-color: rgb(38, 123, 151);
$button-background-color: rgb(39, 144, 179);
$button-color: white;
$button-hover-background-color: rgb(51, 129, 155);
$disabled-button-background-color: #6c757d;
$disabled-button-border-color: #6c757d;

//input

$input-border-color:#dddddd;
$input-foused-box-shadow-color: rgb(121, 165, 177);
$input-foused-border-color: rgb(80, 135, 150);
$input-error-foused-border-color:#a94442;
$input-error-box-shadow-color: rgb(97, 35, 35);

//switch

$switch-background-color:#9c9c9c;
$switch-slider-background-color: rgb(221, 221, 221);
$switch-toggled-background-color:#acc289;